{% extends 'base.html' %}
{% block content %}
<div class="dm container">
    <h1 class="dm-header">{{other_username}}</h1>
    <div class="dm-list">
      {% for dm in thread.dms %}
      {% if dm.author == g.user.id %}
          <div class="my dm-row ml-auto">{{dm.text}}</div>
          {% else %}
          <div class="their dm-row">{{dm.text}}</div>
      {% endif %} 
      {% endfor %}
    </div>
    <div class="row">
      <form id="dm-form" class="ml-auto">
        <input type="text" id="dm-input" placeholder="Enter message here" cols="40">
        <input type="submit" id="dm-submit" value="Send" class="btn btn-primary">
      </form>
    </div>


</div>
{% endblock %}