{% extends 'base.html' %}
{% block content %}
<div class="dm container">
    <h1 class="dm-header">{{other_username}}</h1>
    <div class="dm-list">
      {% for dm in thread.dms %}
      <div class="dm row">{{dm.text}}</div>
      {% endfor %}
    </div>
    <div class="row">
      <form id="dm-form">
        <input type="text" id="dm-input" placeholder="Enter message here">
        <input type="submit" id="dm-submit" value="Send" class="btn btn-primary">
      </form>
    </div>


</div>
{% endblock %}